{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body style="background-color: #2d2d2f;">
        <nav class="navbar" style="background-color: EAE7DC;" data-bs-theme="dark">
            <div class="container-fluid">
                <div class="text-white">
                    <div class="d-flex align-item-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="35" fill="currentColor" style="color: #B19F9E; " class="bi bi-bag" viewBox="0 0 16 16">
                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1z"/>
                        </svg>
                        <h3 style="color: #B19F9E;">  
                            ReStyle Vault
                        </h3>
                    </div>
                    <div style="color: #B19F9E;">
                        {% if user.is_authenticated %}
                            Signed in as: <strong>{{ user.username }}</strong>
                        {% else %}
                            Not signed in.
                        {% endif %}
                    </div>
                </div>
                <ul class="nav ">
                    <li class="nav-item">
                        <a class="nav-link" style="color: #B19F9E;" href="{% url 'index' %}">'The Vault'</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" style="color: #B19F9E;" href="{% url 'create' %}">Create Listing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #B19F9E;" href="{% url 'logout' %}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" style="color: #B19F9E;" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: #B19F9E;" href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <hr>
        <main class="container">
            {% block body %}
            {% endblock %}
        </main>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
